In [4]:
import pandas as pd
import numpy as np

df=pd.read_csv('advertising.csv')
df.columns

Index(['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage', 'Ad Topic Line', 'City', 'Male', 'Country',
       'Timestamp', 'Clicked on Ad'],
      dtype='object')

In [5]:
#check for null,nan or any missing numbers and clean the data

df.isnull().sum()

Daily Time Spent on Site    0
Age                         0
Area Income                 0
Daily Internet Usage        0
Ad Topic Line               0
City                        0
Male                        0
Country                     0
Timestamp                   0
Clicked on Ad               0
dtype: int64

In [6]:
#the data is okay check the statistics of the data
df.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.00000

In [7]:
#import sklearn to train the data

from sklearn.tree import DecisionTreeRegressor


#write the script determine the predictor and target

y=df[['Clicked on Ad']]


X=df[['Daily Time Spent on Site', 'Age', 'Area Income',
       'Daily Internet Usage','Male'
       ]]

In [10]:
#define the model
df_model=DecisionTreeRegressor(random_state=1)
#Fit the model
#use Train test split to train and validate the model

from sklearn.model_selection import train_test_split

train_X,val_X,train_y,val_y=train_test_split(X,y,random_state=1)

#define the model
df_model=DecisionTreeRegressor(random_state=1)
#Fit the model
df_model.fit(train_X,train_y)

#predict the model
df_model.predict(train_X)

#calculate the mean absolute error to check the accuracy
from sklearn.metrics import mean_absolute_error

val_prediction=df_model.predict(val_X)

print(mean_absolute_error(val_y,val_prediction))

0.056

In [11]:
#Predict using Random forest regreessor

from sklearn.ensemble import RandomForestRegressor

#define the model
df_model=RandomForestRegressor(random_state=1)

#fit the model
df_model.fit(train_X,train_y)

#predict the model
val_prediction=df_model.predict(val_X)

print(mean_absolute_error(val_y,val_prediction))

0.06128000000000001

<ipython-input-11-6c25a7013827>:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  df_model.fit(train_X,train_y)

In [21]:
from sklearn.linear_model import LinearRegression

#define model
df_model=LinearRegression()

#fit the model
df_model.fit(train_X,train_y)

#predict the model
val_pred=df_model.predict(val_X)

print(mean_absolute_error(val_y,val_pred))

0.1564453953050559